<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardgrade">
	<select id="list" resultType="com.example.test.model.board.dto.BoardGradeDTO">
		select name,division,now_fund from board_grade where bno=#{bno}
	</select>	
	
	<insert id="insert">
		insert into board_grade values(#{bno}, #{name}, #{division}, #{now_fund})
	</insert>
</mapper>