<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	<select id="list" resultType="com.example.test.model.board.dto.BoardDTO">
		select * from board where approve=1
	</select>
	<select id="view" resultType="com.example.test.model.board.dto.BoardDTO">
		select bno,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-start_date) now_date, start_date,progress,viewcnt,good from board where bno=#{bno} 
	</select>
	<update id="buy">
		update board set now_fund=now_fund+#{now_fund}, support=support+1, progress=((now_fund+#{now_fund})/max_fund*100)
		where bno=#{bno}
	</update>
	<select id="best" resultType="com.example.test.model.board.dto.BoardDTO">
		select A.* from (select bno,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-start_date) now_date, start_date,progress,viewcnt,good, approve
		from board order by viewcnt desc) A 
		where approve=1 and rownum &lt; 6
	</select>
	<update id="increatViewcnt">
		update board set viewcnt=viewcnt+1 where bno=#{bno}
	</update>
	<update id="good">
		update board set good=good+1 where bno=#{bno}
	</update>
	<select id="goodList" resultType="com.example.test.model.board.dto.BoardDTO">
		select A.* from (select bno,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-start_date) now_date, start_date,progress,viewcnt, good, approve
		from board order by good desc) A 
		where approve=1 and rownum &lt; 6
	</select>
	<select id="supportList" resultType="com.example.test.model.board.dto.BoardDTO">
		select A.* from (select bno,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-start_date) now_date, start_date,progress,viewcnt,good, approve
		from board order by support desc) A 
		where approve=1 and rownum &lt; 6
	</select>
		<select id="progressList" resultType="com.example.test.model.board.dto.BoardDTO">
		select A.* from (select bno,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-start_date) now_date, start_date,progress,viewcnt,good, approve
		from board order by progress desc) A 
		where approve=1 and rownum &lt; 6
	</select>
	
	<select id="todayList" resultType="com.example.test.model.board.dto.BoardDTO">
		select bno,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-start_date) now_date, start_date,progress,viewcnt,good from board where approve=1 and  rownum &lt; 6
		and TO_CHAR(start_date,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
		order by progress desc
	</select>
	<select id="fund_approve" resultType="com.example.test.model.board.dto.BoardDTO">
		select * from board where approve=0
	</select>
	<update id="approve">
		update board set approve=1 where bno=#{bno}
	</update>
	<insert id="insert">
		insert into board (bno,p_division,s_division,title,max_fund,start_date,end_date,now_date,company_name,unit,min_fund,title_img,sledding,limit,margin) values
		(seq_bno.nextval,#{p_division},#{s_division},#{title},#{max_fund},#{start_date},#{end_date},#{now_date}
		,#{company_name},#{unit},#{min_fund},#{title_img},#{sledding},#{limit},#{margin})		
	</insert>
	<select id="search" resultType="com.example.test.model.board.dto.BoardDTO">
		select A.* from (select bno,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-start_date) now_date, start_date,progress,viewcnt,good, approve
		from board order by progress desc) A 
		where approve=1 and title like #{keyword}  or p_division like #{keyword} 
	</select>
	
</mapper>